{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block head %}

<style>
  /* Position of the footer to bottom */
  #fix_footer {
    position:absolute;
    bottom:0;
    width:100%;
    /* height:60px;   Height of the footer */
    background:#6cf;
 }

 @media only screen and (max-width: 600px) {
  #fix_footer {
    position:relative;
  }
}
</style>

{% endblock head %}

{% block body %}

<div class="container">
    <form action="{% url 'addProduct' %}" enctype='multipart/form-data' method="POST" >
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-info">Add Product</button>
    </form>
</div>

{% endblock body %}