{% load static %}
{% load account %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="data:;base64,iVBORw0KGgo="> {% comment %} To stop linking favicon.io {% endcomment %}


	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

	{% comment %} <style>
		@font-face { font-family: Broadway-Regular; src: url(fonts/Broadway-Regular.ttf' ); }
	</style> {% endcomment %}

    {% block head %}

    {% endblock head %}
</head>
<body>
	{% comment %} <div id = "fixedPosition"> {% endcomment %}
    <!----Menu---->
	<div class="menu bg-dark">
		<ul class="nav nav-bar justify-content-end">
			<li class="nav-item">
				<a href="{% url 'home' %}" class="nav-link"> Home </a>
			</li>

			<li class="nav-item">
				<a href="{% url 'about' %}" class="nav-link"> About </a>
			</li>

			{% if request.user.is_authenticated %}
			<li class="nav-item">
				<a href="{% url 'seller' %}" class="nav-link">{{ request.user.username.upper }}</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a href="{% url 'account_login' %}" class="nav-link"> Login </a>
			</li>
			<li class="nav-item">
				<a href="{% url 'seller' %}" class="nav-link"> Sell </a>
			</li>
			{% endif %}

			<li class="nav-item d-block d-md-none iconSml">
				<a href="{% url 'cart' request.user.username %}" class="nav-link"> <i class="fas fa-shopping-cart"></i> </a>
			</li>
		</ul>
	</div>

	<!--Title and search-->
	<div class="container-fluid titleAndMenuHolder">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-12 logoHolder">
				<a href="{% url 'home' %}"><h1> bANJOI </h1></a>
			</div>
			<div class="col-lg-8 col-md-8 col-12 searchButtonHolder">
				<form action="{% url 'search' %}" method="POST">
					{% csrf_token %}
					<input type="text" placeholder="Search your thread" name='query'>
				</form>
			</div>
			<div class="col-lg-1 col-md-1 col-12 userCartHolder">
				<div class="d-none d-md-block">
					<a href="{% url 'cart' request.user.username %}" style="color:grey;"><i class="fas fa-shopping-cart"></i></a>
				</div>

			</div>
		</div>
	</div>
{% comment %} </div> {% endcomment %}

	<!---Cart stack-->
	<div class="cartStack d-none d-md-block">
		<div class="cartButtonContainer">
			<i class="far fa-times-circle"></i>
		</div>
		<div class="cartBody">
			<!---If the user is not logged in-->
			<div class="priceContainer">
				<h5> Price : NRS <span class="totalPrice">  </span> </h5>
			</div>
			<div class="addedProductsContainer">
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid ex, nisi eius laborum nobis,
					excepturi ratione voluptatibus delectus consectetur nemo veniam vero quae animi vel culpa
					officia dolorem debitis minima.</p>
				<!---Added products stay here-->
			</div>
			<button href="#"> Go to Cart </button>
			<!---If the user is logged in -->
		</div>
	</div>



    {% block body %}

    {% endblock body %}


	<!-- Footer -->
	<footer class="footer bg-dark" id="fix_footer" style="width: 100%">
		<div class="row p-4">
			<div class="col m-2 d-block" id="fwidth">
			   <a href="" class="px-3 py-2 d-block text-light f_b1">Home</a>
			   <a href="" class="px-3 py-2 d-block text-light f_b1">About Us</a>
			   <a href="" class="px-3 py-2 d-block text-light f_b1">Term & Condition</a>
			</div>
			<div class="col m-2" id="fwidth">
				<a href="" class="px-3 py-2 d-block text-light f_b1">Payment Products</a>
				<a href="" class="px-3 py-2 d-block text-light f_b1">bANJOI Business Card</a>
				<a href="" class="px-3 py-2 d-block text-light f_b1">Shop with Points</a>
				<a href="" class="px-3 py-2 d-block text-light f_b1">Reload your balance</a>
			</div>
			<div class="col m-2" id="fwidth">
				<a href="" class="px-3 py-2 d-block text-light f_b1">Privacy Policies</a>
				<a href="" class="px-3 py-2 d-block text-light f_b1">Contact Us</a>
			</div>
			<div class="col p-3 m-2 logoHolder">
				 <h1>bANJOI</h1>
				 <div class="social-media d-flex justify-content-center">
					<a href="#" class="fa fa-facebook mx-3"></a>
					<a href="#" class="fa fa-twitter mx-3"></a>
					<a href="#" class="fa fa-instagram mx-3"></a>
				 </div>
		</div>
	</footer>

	<script src="https://kit.fontawesome.com/3c2a34836f.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script  src="{% static 'js/base.js' %}"></script>
	<script src="../static/js/productGSAP.js"></script>

</body>
</html>