<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="payment.css">
    <title>Document</title>
</head>
<body>
    <div class="check_Block">
        
        <div class="checkout_block">
            <div>
                <label for="" class="text-dark">Checkout Here:</label>
            
                <div>
                    <label for="" class="text-dark">Name</label><br>
                    <input type="text" placeholder="Enter your Bank Name">
                 </div>
                 <div>
                     <label for="" class="text-dark"> Card Number</label><br>
                     <input type="text" placeholder="Enter your card number">
                  </div>
                  <div>
                     <label for="" class="text-dark">Sub-Total</label><br>
                  <Span class="totalAmount">Total Amount</Span>
                  </div>
    
            </div>
           
              <button class="btn btn-success px-4 py-2" id="Btn"> Submit</button>
        </div>
      
       
    </div>
</body>
</html>